<footer>
  <div class="container">
    <div class="footer-top">
      <div class="row">
        <div class="col-md-4">
          <h3>Amble with Angus</h3>
          <nav class="menu">
            <a href="/">Home</a>
            <a href="/event/2019-amble/">Event Details</a>
            <a href="/about/">About</a>
            <a href="/media-gallery/">Media Gallery</a>
            <a href="/contact/">Contact</a>
          </nav>
        </div>
        <div class="col-md-4">
          <h3>Links</h3>
          <ul class="link-list">
            <li>
              <a href="http://www.calgaryfoodbank.com/">Calgary Food Bank</a>
            </li>
            <li>
              <a href="http://www.cbc.ca">CBC</a>
            </li>
            <li>
              <a href="https://www.canadahelps.org/en/charities/calgary-inter-faith-food-bank/p2p/amblewithangus2019/">Registration / Donation site</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>Get in touch</h3>
          <a href="http://kajigger.net/awa2/contact/">Contact form</a>

          {# TODO: get fontawesome icons #}
          <ul class="social-list">
            <li>
              <a class="color-facebook" href="http://www.facebook.com/AmbleWithAngus">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a class="color-twitter" href="http://twitter.com/AmblewithAngus">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a class="color-instagram" href="https://www.instagram.com/amblewithangus">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="footer-bottom">
      <div class="row">
        <div class="col-md-6">
          <div class="copyright-text">
            Amble with Angus - 2019
          </div>
        </div>
        <div class="col-md-6">
          <nav>
            <a href="http://amblewithangus.com/">Home</a>
            <a href="http://amblewithangus.com/event/2019-amble/">Event Details</a>
            <a href="http://amblewithangus.com/about/">About</a>
            <a href="http://amblewithangus.com/media-gallery/">Media Gallery</a>
            <a href="http://amblewithangus.com/contact/">Contact</a>
          </nav>
        </div>
      </div>
    </div>
    <div class="xs-back-to-top-wraper">
      <a href="#" class="xs-back-to-top">
        <i class="fa fa-angle-up"></i>
      </a>
    </div>
  </div>
</footer>